
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1><%= %></h1>
        <p><%date = Date.today.strftime("%A, %B %d, %Y")%></p> 
        <p><%="The date is #{date}"%><p>
    </body>
</html>